@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One&family=Roboto&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One&family=Roboto&family=Sriracha&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-size: 1em;
}




:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive
}
body{
    min-height: 100vh;
    display: block;
    margin: 0%;
    padding: 0%;

}
header{
    display: block;

    background-color: black;

    text-align: center;
    color: white;
    font-family: var(--fonte1);
    font-size: 1em;

    margin: 0;
    padding: 10px;


}

header > h1{

    font-weight: 700;
    font-size: 7vw;
    font-variant: small-caps;

    margin: 0;
    padding: 10px;
    
}
header > p{
    font-size: 1em;
    padding-bottom: 30px;
}
h1{
    display: block;
    padding: 0%;
    margin: 0%;

}
a{
    color: antiquewhite;
    cursor: pointer;
    
}
section{
    display: block;
    
    margin: 0%;
    padding: bottom 10vh; 
    padding-top: 10vh;
    line-height: 2em;
    font-size: 3.5vh;

    text-align: left;

}
    
   

article{
    
    padding-top: 5vh;
    padding-bottom: 5vh;
    line-height: 2em;
    text-align: left;
    
}
aside{
    height: 50vh;

    background-color: rgba(0, 0, 0, 0.446);
    border-radius: 10px;

    font-family: var(--fonte3);
    font-style: italic;
    font-size: 3.5vh;
    font-weight: 500;
    

    
    

    

}
p{
    display: block;
    padding-bottom: 5vh;
    

    
    
}
div{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.412);
    padding-right: 10px;
    padding-left: 30px;
    line-height: 2.2em;
}
.cordel{
    font-family: var(--fonte3);
    font-style: italic;
    font-size: 3.5vh;
    font-weight: 500;
    padding-left: 30px;
    line-height: 2.8em;

    
}
.cordel-background{
    height: 90vh;
    font-family: var(--fonte3);
    font-style: italic;
    font-size: 3.5vh;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.442);
    color: white;
    line-height: 2.8em;

}

    


    


#primeiro{
    height: 80vh;
    
}
#segundo{
    display: absolute;
    height: 80vh;
    background-color: black;
    background-image: url(img/background001.jpg);
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    


}
#terceiro{
    height: 80vh;
}
#quarto{
    display: absolute;

    background-color: rgba(0, 0, 0, 0.442);
    background-image: url(img/background002.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 80vh;
}
#quinto{
    height: 80vh;
}
footer{
    background-color: black;
    color: white;
    margin: 0%;
    padding-top: 5px;
    text-align: center;
}
footer > p{
    margin: 0%;
    padding: 5px;
}

